.post-container {
  margin-top: 20px;
}

.post {
  text-align: left;
  margin: 0px 0px 20px 0px;
}

.post > h3 {
  margin: 0px 0px 5px 0px;
}

.post > p {
  margin: 0px 0px 20px 0px;
}

.form-post {
  margin: 10px;
}

.form-post input,
textarea {
  margin: 0px 0px 10px 0px;
}

.form-post button {
  margin: 0px 10px;
}
